// These colors are specific to the theme. Do not use in a package!

// gray

@peace-white: #FEFEFE;
@very-very-very-light-gray: #F6F6F6;
@very-very-light-gray: #E6E6E6;
@very-light-gray: #D5D5D5;
@light-gray: #a1a1a1;
@gray: #5b6775;
@dark-gray: #393c47;
@very-dark-gray: #201D1E; // bg rgb(39, 40, 34);

// blue

@cyan: #00b4cb;
@blue: #19488f;
@soft-blue: #3074a6;

// purple

@purple: #d438c9;

//  green

@green: #44b330;

// Red and Orange
@red: #e74a3f;
@dark-red: #821111;
@orange: #dd6f38;
@light-orange: #e8a72b;
